$theme-color: #0091f0;
$tc-main: #333333;
$tc-1: #333;
$tc-2: #999;
$tc-3: #666;
.title-1{
  color: $tc-main;
  font-size: 17px;
}

.subtitle-1{
  color: $tc-2;
  font-size: 17px;
}

.subtitle-2{
  color: $tc-2;
  font-size: 15px;
}


$seg-color: #f0f0f0;
$bg-color: #f0f0f0;
