@import "assets/constant";

.address-view{
  .address-cell{
    border-bottom: 1px solid $seg-color;
    margin: 0 10px;
  }
  .add-button{
    margin: 10px 15px;
    height: 40px;
    line-height: 40px;
    background: $theme-light-color;
    text-align: center;
    color: $theme-color;
    border-radius: 20px;
  }
}