@import "assets/constant";
$bottom-bar-height: 50px;
.performance-detail-view{
  background: $bg-color;
  .info-piece{
    position: relative;
    background: white;
    .head{
      height: 195px;
      .gauss-wrapper{
        height: 140px;
        overflow: hidden;
        .gauss-banner{
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          filter: saturate(.5) brightness(.9) blur(.33333rem) contrast(.8);
        }
      }
      .info{
        position: absolute;
        width: 100%;
        top: 70px;
        .photo-area{
          margin-left: 15px;
          .photo{
            display: block;
            width: 100px;
            height: 125px;
          }
        }
        .content-area{
          margin-left: 15px;
          .name{
            color: white;
            height: 70px;
          }
          .price{
            margin-top: 10px;
            color: $theme-color
          }
        }
      }
    }
    .session{
      overflow: auto;
      width: 100%;
      .container{
        white-space: nowrap;
        width: auto;
        display: inline-block;
        padding: 0 15px;
        .item-wrapper{
          display: inline-flex;
          height: 65px;
          margin: 10px 0;
          margin-left: 20px;
          border-radius: 5px;
          border: 1px solid #e7e7e7;
          background: #f0f0f0;
          &.active{
            border: 1px solid black;
            background: white;
          }
          &:first-child{
            margin-left: 0;
          }
          text-align: center;
          padding: 0 5px;
          .title{
            font-size: 15px;
            color: $tc-1;
            border-radius: 5px;
          }
          .subtitle{
            font-size: 12px;
            color: $tc-2;
          }
        }
      }
    }
    .message{
      font-size: 12px;
      color: $tc-2;
      min-height: 45px;
      border-bottom: 1px solid $seg-color;
      margin: 0 15px;
      .message-content{
        flex-wrap: wrap;
        padding: 5px 0;
        .item{
          height: 25px;
          margin-left: 10px;
          text-align: center;
          &:first-child {
            margin-left: 0;
          }
          .orange-icon{
            width: 15px;
            height: 15px;
            margin-right: 3px;
          }
        }
      }
    }
    .date{
      height: 65px;
      padding: 0 15px;
      border-bottom: 1px solid $seg-color;
      font-size: 15px;
      color: $tc-1;
      .sub{
        font-size: 12px;
        color: $tc-2;
      }
    }
    .piece-content{
      flex: 1;
    }
    .icon-wrapper{
      height: 15px;
      .icon{
        width: 15px;
        height: 15px;
      }
    }
  }
  .address-piece{
    margin-top: 8px;
    height: 70px;
    background: white;
    padding: 0 15px;
    font-size: 12px;
    color: $tc-2;
    .content{
      flex: 1;
      .city{
        padding-right: 5px;
        font-size: 15px;
        color: $tc-1;
      }
      .name{
        border-left: 1px solid $tc-1;
        padding: 0 5px;
        font-size: 15px;
        color: $tc-1;
      }
    }
  }
  .detail-piece{
    margin-top: 8px;
    margin-bottom: $bottom-bar-height;
    background: white;
    width: 100vw;
    img {
      /* Set width of image to maximum width of Card, height will follow aspect ratio */
      width: 100%;
      height: auto;
    }
  }
  .bottom-piece{
    position: fixed;
    border-top: 1px solid $seg-color;
    background: white;
    height: $bottom-bar-height;
    bottom: 0;
    left: 0;
    right: 0;
    .coll-btn{
      width: 21vw;
      text-align: center;
      font-size: 12px;
      color: $tc-3;
      .icon{
        fill: #0091f0;
        width: 25px;
        height: 25px;
      }
      .colled{
        color: $theme-color;
      }
    }
    .buy-btn{
      flex: 1;
      color: white;
      margin: 5px 15px;
      margin-left: 0;
      background: $theme-color;
      font-size: 14px;
      border-radius: 3px;
    }
  }
}