@import "assets/constant";

.navigator{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  max-width: 100vw;
  height: $nav-height;
  background: #fbfbfb;
  border-bottom: 1px solid $seg-color;
  padding: 0 15px;
}

.back{
  width: 20px;
  height: 100%;
}

.placeholder{
  width: 20px;
  height: 100%;
}

.title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0 10px;
  flex: 1;
}
