@import "assets/constant";

.navigator{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $nav-height;
  background: #fbfbfb;
  border-bottom: 1px solid $seg-color;
  padding: 0 15px;
}

.left{
  width: 20px;
  height: 100%;
}

.middle{
  text-align: center;
  flex: 1;
}
